html {
  overflow: hidden;
  /* Prevent default scrolling */
  overflow-y: scroll;
  /* Enable vertical scrolling */
  scrollbar-width: none;
  /* For Firefox */
}

body::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar in WebKit browsers */
}

body,
html {
  background: transparent;
  /* border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline; */
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-size: 10px; */
  /* overflow-x: auto;
  overflow-y: scroll; */
  background-color: black;
  padding-left: 10px;
}

.image-de-fond, 
.image-de-fond-cover {
  /* width: 100%;
  height: auto; */
  background-image: url("../../assets/photos/point-rouge.png");
  background-size: cover; /* Cover the entire element */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

.image-de-fond-contain {
  background-image: url("../../assets/photos/point-rouge.png");
  background-size: contain;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}
.image-de-fond-25 {
  background-image: url("../../assets/photos/point-rouge.png");
  background-size: 25%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}
.image-de-fond-35 {
  background-image: url("../../assets/photos/point-rouge.png");
  background-size: 35%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}
.image-de-fond-50 {
  background-image: url("../../assets/photos/point-rouge.png");
  background-size: 50%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}
.image-de-fond-75 {
  background-image: url("../../assets/photos/point-rouge.png");
  background-size: 75%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}


/* ************** LOGO */
/* .logo {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 30px;
  height: auto;
  margin-right: 1rem;
  transition: transform 2.5s ease-in-out;
  animation: grandir 1.5s ease-in-out 0.5s infinite alternate;
} */
.logo {
  width: 30px;
  height: auto;
  margin-right: 1rem;
  transition: transform 2.5s ease-in-out;
  animation: grandir 1.5s ease-in-out 0.5s infinite alternate;
}

@keyframes grandir {
  to {
    transform: scale(1.2);
  }
}

@media (min-width: 600px) {
  .logo {
    width: 40px;
    /* for screens wider than 600px */
  }
}

@media (min-width: 900px) {
  .logo {
    width: 50px;
    /* for screens wider than 900px */
  }
}

.logo:hover {
  transform: rotate(360deg);
  /* transform: rotate(180deg); */
  transition: transform 2.5s ease-in-out;
}

/* [data-bs-theme="dark"] #logo-light {
  display: none;
}

[data-bs-theme="light"] #logo-dark {
  display: none;
} */

/* ************** LOGO (end) */

/* **************** CAROUSEL  */
:root {
  /* --bs-carousel-item-bg: #fff; */
  /* --bs-carousel-item-bg: #f0f0f0; */
  /* Custom background color for light mode */
}

[data-bs-theme="dark"] {
  /* --bs-carousel-item-bg: #212529; */
  /* --bs-carousel-item-bg: #212529; */
  /* Custom background color for dark mode */
}

.carousel-item {
  /* background-color: var(--bs-carousel-item-bg); */
}

[data-bs-theme="dark"] .carousel-item {
  /* background-color: #000 !important; */
  /* background-color: yellow !important; */
}

/* **************** CAROUSEL (end) */

/* ******************* indicateurs */
/* [data-aos="fade-up"] {
  -webkit-transform: translate3d(
    0,
    100px,
    0
  );
  transform: translate3d(
    0,
    100px,
    0
  );
}

.count-box {
  padding: 30px;
  width: 100%;
}
.count-box
  span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #050d18;
  margin-left: 60px;
} */
/* ******************* indicateurs */

/* ************************** GoTop Button */
#goTopBtn {
  display: none;
  position: fixed;
  bottom: 70px;
  left: 50%;
  /* right: 25px; */
  width: 4rem;
  height: 4rem;
  /* padding: 3px 6px; */
  /* border-radius: 4px; */
  /* border-radius: 50%; */
  z-index: 999;
  cursor: pointer;
  /* box-shadow: 4px 4px gray; */
  /* background-color: var(--bs-btn-bg); */
  background-color: rgb(26,26,26);
  border: none;
  border-radius: 50%;
}

#goTopBtn span {
  font-weight: bold;
  /* font-size: x-large; */
  color:#ff0000;
}

/* #goTopBtn:hover {
  filter: invert(1);
} */

[data-bs-theme="dark"] #goTopBtn:hover {
  /* filter: invert(1); */
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}
[data-bs-theme="light"] #goTopBtn:hover {
  /* filter: invert(1); */
  box-shadow: 0 8px 8px rgba(255, 255, 255, 0.5);
}

/* ************************** GoTop Button (end) */

#myCarousel .carousel-item {
  /* background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important; */
}

/* ***************************************** Fade */
.estomper-bas-50-s-075 {
  transform: translateY(50px);
  transition: opacity 0.75s ease, transform 0.75s ease;
}
.estomper-haut-50-s-075 {
  transform: translateY(-50px);
  transition: opacity 0.75s ease, transform 0.75s ease;
}
.estomper-gauche-250-s-075 {
  transform: translateX(-250px);
  transition: opacity 0.75s ease, transform 0.75s ease;
}
.estomper-fin {
  opacity: 1;
  transform: translateY(0);
}
/* .estomper-div {
  transform: translateY(50px);
  transition: opacity 0.75s ease, transform 0.75s ease;
}
.estomper-div-fin {
  opacity: 1;
  transform: translateY(0);
}
.estomper-div-inv {
  transform: translateY(-50px);
  transition: opacity 0.75s ease, transform 0.75s ease;
}
.estomper-div-inv-fin {
  opacity: 1;
  transform: translateY(0);
} */
/* ***************************************** Fade (end) */

/* .un-filtre.highlight {
  border: 10px solid #ff9900;
  /* background-color: #e7f0ff; */
} */

.nav-item {
  font-size: large;
  color: white;
  font-weight: 600;
}
.nav-link {
  color: white;
}

.bouton-rouge {
  background-color: #ff0000;
  color: white;
  /* font-weight: bold; */
  /* font-size: larger; */
}

.bouton-rouge:hover {
  background-color: white;
  color: #ff0000;
}

.bouton-rouge a {
  color: white;
}
.bouton-rouge:hover a {
  color: #ff0000;
}

.expertise {
  /* height: 400px; */
}

/* .video-exprtise {
  float: bottom;
} */

.my-small {
  font-size: 0.775em;
}

.span-texte-1 {
  color: white;
}
.span-texte-2 {
  color: gray;
}
.span-texte-1,
.span-texte-2 {
  font-weight: 600;
  font-size: 5vw;
}

/* * --- */
.carousel-conteneur {
  perspective: 1000px;
  /* Optional for a more 3D feel */
  overflow: hidden;
  /* Ensures the image doesn't overflow the container */
}

#premiereImageDuCarousel {
  display: block;
  /* Ensures no extra space around the image */
  opacity: 0;
  transform: scale(0.5);
  /* Starts smaller */
  transition: transform 1s ease, opacity 1s ease;
  /* Smooth transition */
}

#premiereImageDuCarousel.visible {
  opacity: 1;
  /* Fade in */
  transform: scale(1);
  /* Expand to original size */
}

/* .carousel-item {
  width: 632px;
  height: 394px;
} */

.my-fs-1 {
  font-size: 5vw;
}
.my-fs-1b {
  font-size: 4.5vw;
}
.my-fs-2 {
  font-size: 4vw;
}
.my-fs-2b {
  font-size: 3.5vw;
}
.my-fs-3 {
  font-size: 3vw;
}
.my-fs-3b {
  font-size: 2.5vw;
}
.my-fs-4 {
  font-size: 2vw;
}
.my-fs-4b {
  font-size: 1.5vw;
}
.my-fs-5 {
  font-size: 1vw;
}
.my-fs-5b {
  font-size: 0.5vw;
}


.design-visuel {
  background-color: rgb(54, 54, 54);
  transform: translateY(0);
  transition: transform 0.5s ease;
  /* box-shadow: 0 12px 30px rgba(250, 5, 5, 0.596) !important;  */
}

.design-visuel:hover {
  background-color: white;
  transform: translateY(-20px);
  transition: transform 0.5s ease;
  /* box-shadow: 0 12px 30px rgba(0, 0, 0, 0.596) !important; 
  transition: transform 0.5s ease, box-shadow 0.3s ease; */
}

.design-visuel h3 {
  color: #ff0000;
}
.design-visuel p {
  color: white;
}
.design-visuel:hover p {
  color: black;
}


  /* .navbar-toggler:hover {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) !important;
  } */

.navbar-collapse.show {
  background-color: rgba(29, 29, 29, 0.9);
  border-radius: 5px;
  margin-top: 5px;
}
